# Listen on 443 with certificates, if not running behind AWS web portal
#server {
#    listen 443 ssl;
#    server_name staging.mwatelescope.org;
#    ssl_certificate /etc/nginx/certs/mwatelescope_org.crt;
#    ssl_certificate_key /etc/nginx/certs/mwatelescope_org.key;
#    client_max_body_size 100M;
#
#    location / {
#        proxy_pass http://localhost:8000;
#    }
#}

# Forward to localhost on 443, if not running behind AWS web portal
#server {
#  listen 80 default_server;
#  server_name _;
#  client_max_body_size 100M;
#
#  return 301 https://$host$request_uri;
#}

# Listen on port 80, if running behind web portal to handle HTTPS certs
server {
  listen 80 default_server;
  server_name _;
  client_max_body_size 100M;

  location / {
        proxy_pass http://localhost:8000;
   }
}
